*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.loginImage{
    display: none;
}

footer{
    display: none;
}

.loginForm{
    padding: 30px 50px;
}

.logo{
    text-align: center;
}

.logo p{
    font-family: cursive;
    font-style: italic;
    color: #f6753e;
    font-size: 24px;
}

.logo h1{
    font-size: 24px;
}

form label, form input{
    display: block;
    width: 100%;
    margin: 10px 0;
}

form input{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(213, 211, 211);
}

.forgotLink{
    width: 100%;
    text-align: right;
    color: #74b0ed;
    margin-bottom: 20px;
}

.continueBtn{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ff7918;
    color: white;
    text-align: center;
}

.continueParagraph{
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin: 20px 0;
}

.accounts div{
    /* display: block; */
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 auto 25px;
    text-align: center;
}

.accounts img{
    /* display: flex; */
    margin-right: 8px;
    margin-bottom: -4px;
}

.accounts p{
    font-size: 12px;
    width: 100%;
    text-align: center;
    color: gray;
    /* margin-top: -5px; */
}

.accounts p a{
    text-decoration: none;
    color: #74b0ed;
}

@media screen and (min-width: 480px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .loginImage{
        display: block;
        background-image: url('/assets/Rectangle_2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .loginImage div{
        width: 100%;
        height: 100%;
        background-color: rgba(255, 121, 26, 0.7);
        color: white;
        margin: auto;
        text-align: center;
        align-content: center;
    }

    .loginImage div h1{
        font-size: 40px;
    }

    .loginForm{
        padding: 80px 150px;
    }

    footer{
        display: block;
        /* width: 100%; */
        background-color: #61402e;
        color: white;
    }

    .footerContent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 40px 20px;
    }

    .footerContent section{
        padding: 0 30px;
        font-size: 11px;
    }

    .footerContent .aboutFooter p{
        font-size: 14px;
        /* margin-top: -50px; */
    }

    .footerLogo{
        font-family: cursive;
        font-style: italic;
        color: #f6753e;
        font-size: 24px;
    }

    .footerContent h2{
        font-size: 22px;
    }

    .quickLinks a{
        display: block;
        text-decoration: none;
        color: white;
    }

    .footerCopyRight{
        font-size: 10px;
        padding: 20px 0 50px 50px;
        color: gray;
    }
}