*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
main{
    padding: 10px 30px;
}

.logoSect{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    font-family: cursive;
    font-style: italic;
    color: #f6753e;
    text-align: center;
}


.signIn{
    text-decoration: none;
    padding: 10px 25px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
}

h2{
    font-size: 30px;
    padding: 10px 0;
}

.image{
    height: 200px;
    width: 100%;
}

.image img{
    width: 100%;
    height: 100%;
}

ul{
    list-style-type: none;
}
li{
    display: flex;
    margin: 15px 0;
    background-color: rgba(184, 182, 182, 0.1);
    padding: 5px;
    border-radius: 5px;
}

li img{
    border-radius: 8px;
    background-color: #fbe2d5;
    padding: 5px;
    width: 30px;
    margin-right: 5px;
}

.btns button{
    width: 100%;
    padding: 15px 10px;
    margin: 10px 0;
    border-radius: 10px;
}

 button.start{
    background-color: #f6753e;
    border: none;
    color: white;
}
.signIn, .learn{
    background-color: white;
    border: 1.5px solid rgb(74, 147, 255);
    color: #0078e2;
}

footer, .copyRight{
        display: none;
    }

@media screen and (min-width: 480px){
    .welcome_page{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .imageSect{
        border: 2px solid red;
    }

    .content{
        padding: 10px 40px;
        border: 1px solid red;
    }

    .aboutContent{
        margin-top: 50px;
    }

    .aboutContent h2{
        font-size: 24px;
    }

    .aboutContent ul{
        display: grid;
        grid-template-columns: auto auto;
    }

    .aboutContent ul li{
        background-color: white;
    }

    .copyRight{
        margin-top: 80px;
        font-size: 12px;
        text-align: center;
    }

    footer{
        display: block;
    }
}